.portfolio-showcase {

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .star {
            font-size: 2.5rem;
            margin: 0 0 .5rem;
        }

        @media (max-width: 600px) {
            .star {
                font-size: .7rem;
                margin: 0;
            }
        }
    }

    .title-text {
        max-width: 47%;
        margin: 1.5rem 0;
    }
}